 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 50vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  margin-left: -50vw;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#overlay {
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  background: black;
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
}

.dashboard-nav {
  display: flex;
  justify-content: center;
  background: #E0E0E0;
  border-bottom: 1px solid;
}

.dashboard-nav-left {
  position: absolute;
  top: 5px;
  left: 15px;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
}

.dashboard-nav-right {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-nav-right h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 