<!-- <!DOCTYPE html>
<html>
	<head>
		<title>Color Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
	</head>
	<body> -->
    {{define "main"}}
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <script>
        var g_page = "create-a-job"
    </script>
    <div id="root"></div>
    <script src="/static/js/dashboard.js"></script>
    {{end}}  
	<!-- </body>
</html> -->