<!DOCTYPE html>
<html>
	<head>
		<title>Color Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dashboard-layout.css">
	</head>
	<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/dashboard/create-a-job">Create a New Job</a>
        <a href="/dashboard">Clock Into a Job</a>
        <a href="#">Settings</a>
        <a href="/logout">Logout</a>
      </div>
      
      <!-- Use any element to open the sidenav -->
      <!-- <span onclick="openNav()">open</span> -->
      <nav class="dashboard-nav">
          <div class="dashboard-nav-left">
            <span onclick="openNav()"><img src="/static/img/menu.svg" /></span>
          </div>
          <div class="dashboard-nav-right">
            <h4>Color Book</h4>
          </div>
      </nav>
      
      <div id="overlay" onclick="closeNav()"></div>

      <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
      <div id="main">
          {{template "main" .}}
      </div> 
    <!-- <div></div> -->
    <script>
      /* Set the width of the side navigation to 250px */
      function openNav() {
          document.getElementById("mySidenav").style.marginLeft = "0vw";
          document.getElementById("overlay").style.display = "block";
          document.getElementById("overlay").style.opacity = '.5';
      }

      /* Set the width of the side navigation to 0 */
      function closeNav() {
          document.getElementById("mySidenav").style.marginLeft = "-50vw";
          document.getElementById("overlay").style.display = 'none';
      }
    </script>
	</body>
</html>